---
---

@import "{{ site.theme }}";

a {
  color: #cc4557;
  font-weight: bold;
}

section {
  background: linear-gradient(#78d7e1, #c0878b 700px);
}

h1, h2, h3, h4, h5, h6 {
  color: #251314; 
}

h2 {
  color: #421d20;
}

h3, h4, h5, h6 {
  color: #62282d;
}
