---
---

@import "{{ site.theme }}";

header {
  background: linear-gradient(#1effdc, #00e4c1);
  
  h1 {
    color: #320913;
    text-shadow: rgba(#f0a3ae, 0.9) 0 1px 0;
  }
}

a {
  color: #8b2a3c;
  font-weight: bold;
}

section {
  background: linear-gradient(#79de9e, #d97c3a 700px);
}

h1, h2, h3, h4, h5, h6 {
  color: #320913; 
}

h1, h2 {
  color: #4e1321;
}

h3, h4, h5, h6 {
  color: #6b1e2f;
}
