---
---

@import "{{ site.theme }}";

html {
  background: #d09242;
  background: #d09242 linear-gradient(#d09242, #e29430) fixed;
}

header {
  background: linear-gradient(#0087aa, #0087aa);
  
  h1 {
    color: #ffe4d7;
    text-shadow: rgba(#9b7e71, 0.9) 0 .25px 0;
  }
  
  p {
    color: #fff0da;
  }
  
  ul {
    background: #e29430;
    background: linear-gradient(#e66446, #e66446);
  }
}

a {
  color: #e29430;
  font-weight: bold;
}

section {
  background: linear-gradient(#0087aa, #0087aa 700px);
}

h1, h2, h3, h4, h5, h6 {
  color: #ffe4d7; 
}

h1, h2 {
  color: #ffcaaf;
}

h3, h4, h5, h6 {
  color: #ffaf89;
}

p {
  color: #fff0da;
}
